body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.calculators-part{
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
}

.calculator{
  background-color: black;
  width: 290px;
  height: 480px;
  color: white;
}
.display{
  /* background-color: purple; */
  height: 120px;
  font-size: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  
}
.buttons{
  position: relative; 
}
button{
  width: 70px;
  height: 70px;
  border-radius: 100px;
  color: white;
  border: 2px, black;
}
.upper-button{
  background-color: #A5A5A5;
}
.right-buttons{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 210px;
}
.right-button{
  background-color: #FE9505;
}
.number-buttons{
  width: 210px;
  display: flex;
  flex-flow: wrap;
}
.number-button{
  background-color: #333333;
}
.zero{
  width: 140px;
  text-align: left;
  padding-left: 35px;
}